<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>ServletConfigTest</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <servlet> 
  
      <servlet-name>ServletConfigClass</servlet-name>
      <servlet-class>com.ServletConfigClass</servlet-class>
      
      <init-param>                                                          <!--Initialization Parameter -->
          <param-name>name</param-name>                                     <!--To set the parameters to the Servlet-->
          <param-value>Swayambhu</param-value>
      </init-param>
      
       <init-param>
          <param-name>surname</param-name>
          <param-value>Bhapkar</param-value>
      </init-param>
      
  </servlet>
  
  <servlet>
    <servlet-name>ServletTwo</servlet-name>
    <servlet-class>com.ServletTwo</servlet-class>
    
    <init-param>
          <param-name>driver</param-name>
          <param-value>com.mysql</param-value>
      </init-param>
      
       <init-param>
          <param-name>settings</param-name>
          <param-value>file</param-value>
      </init-param>
  </servlet>
  
  
  <servlet-mapping>                                                            <!--Servlet Mapping:-It helps us to run our servlet -->
       <servlet-name>ServletConfigClass</servlet-name>
       <url-pattern>/ServletConfigClass</url-pattern> 
  </servlet-mapping>
  
  <servlet-mapping>
       <servlet-name>ServletTwo</servlet-name>
       <url-pattern>/ServletTwo</url-pattern> 
  </servlet-mapping>
  
</web-app>