<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd">

	<bean
		class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">     <!-- Property source base class -->
		<property name="location"
			value="com/model/database.properties" />
	</bean>

	<!-- The data of dbServer is only read as we have only declare the dbServer as private attribute in our Bean class -->
	<bean name="mydao" class="com.model.MyDao">
		<constructor-arg>
			<value>${dbServer}</value>                                                         <!-- { }Expression Language -->
		</constructor-arg>
	</bean>

</beans>