<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration>                           <!-- Base Tag -->
<session-factory>

<!--  Connection Properties -->

<property name="hibernate.connection.driver_class"> com.mysql.cj.jdbc.Driver </property>

<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/swayambhu</property>       <!-- swayambhu name of my database -->

<property name="hibernate.connection.username">root</property>

<property name="hibernate.connection.password">root</property>



<!--  Hibernate Properties --> <!-- The third party application is connected to application by interface -->


<property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>  <!-- dialect - To specify hibernate application is connected to which database -->

<property name="hibernate.hbm2ddl.auto">update</property>    <!-- to update automatically -->

<property name="hibernate.show_sql">true</property>

<property name="hibernate.format_sql">true</property>



<!--  Mapping resource -->


<mapping resource="employee.hbm.xml"/>
<mapping resource="person.hbm.xml"/>

</session-factory>


</hibernate-configuration>